In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Limpeza dos Dados

In [2]:
df = pd.read_csv('listings.csv')

In [3]:
df.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,17878,https://www.airbnb.com/rooms/17878,20211026045247,2021-10-26,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",Discounts for long term stays. <br />- Large b...,This is the one of the bests spots in Rio. Bec...,https://a0.muscache.com/pictures/65320518/3069...,68997,https://www.airbnb.com/users/show/68997,...,4.90,4.76,4.65,NaN,f,1,1,0,0,2.07
1,24480,https://www.airbnb.com/rooms/24480,20211026045247,2021-10-26,"Nice and cozy near Ipanema Beach, w/ home office","My studio is located in the best of Ipanema, t...","The beach, the lagoon, Ipanema is a great loca...",https://a0.muscache.com/pictures/11955612/b28e...,99249,https://www.airbnb.com/users/show/99249,...,4.90,4.97,4.58,NaN,f,1,1,0,0,0.85
2,25026,https://www.airbnb.com/rooms/25026,20211026045247,2021-10-26,Beautiful Modern Decorated Studio in Copa,"Our apartment is a little gem, everyone loves ...",Copacabana is a lively neighborhood and the ap...,https://a0.muscache.com/pictures/3003965/68ebb...,102840,https://www.airbnb.com/users/show/102840,...,4.90,4.81,4.56,NaN,f,1,1,0,0,1.84
3,35636,https://www.airbnb.com/rooms/35636,20211026045247,2021-10-27,Cosy flat close to Ipanema beach,This cosy apartment is just a few steps away ...,The apartment street is very quiet and safe ....,https://a0.muscache.com/pictures/20009355/38b6...,153232,https://www.airbnb.com/users/show/153232,...,4.88,4.90,4.65,NaN,f,1,1,0,0,1.90
4,35764,https://www.airbnb.com/rooms/35764,20211026045247,2021-10-26,COPACABANA SEA BREEZE - RIO - 20 X Superhost,Our newly renovated studio is located in the b...,Our guests will experience living with a local...,https://a0.muscache.com/pictures/23782972/1d3e...,153691,https://www.airbnb.com/users/show/153691,...,4.94,4.94,4.87,NaN,f,1,1,0,0,3.05

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23359 entries, 0 to 23358
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            23359 non-null  int64
 1   listing_url                                   23359 non-null  object
 2   scrape_id                                     23359 non-null  int64
 3   last_scraped                                  23359 non-null  object
 4   name                                          23338 non-null  object
 5   description                                   22137 non-null  object
 6   neighborhood_overview                         12726 non-null  object
 7   picture_url                                   23359 non-null  object
 8   host_id                                       23359 non-null  int64
 9   host_url                                      23359 non-null  object
 10  host_name                                     23354 non-null  object
 11  host_since                                    23354 non-null  object
 12  host_location                                 23281 non-null  object
 13  host_about                                    11499 non-null  object
 14  host_response_time                            16593 non-null  object
 15  host_response_rate                            16593 non-null  object
 16  host_acceptance_rate                          14990 non-null  object
 17  host_is_superhost                             23354 non-null  object
 18  host_thumbnail_url                            23354 non-null  object
 19  host_picture_url                              23354 non-null  object
 20  host_neighbourhood                            12738 non-null  object
 21  host_listings_count                           23354 non-null  float64
 22  host_total_listings_count                     23354 non-null  float64
 23  host_verifications                            23359 non-null  object
 24  host_has_profile_pic                          23354 non-null  object
 25  host_identity_verified                        23354 non-null  object
 26  neighbourhood                                 12726 non-null  object
 27  neighbourhood_cleansed                        23359 non-null  object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      23359 non-null  float64
 30  longitude                                     23359 non-null  float64
 31  property_type                                 23359 non-null  object
 32  room_type                                     23359 non-null  object
 33  accommodates                                  23359 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                23291 non-null  object
 36  bedrooms                                      21871 non-null  float64
 37  beds                                          23167 non-null  float64
 38  amenities                                     23359 non-null  object
 39  price                                         23359 non-null  object
 40  minimum_nights                                23359 non-null  int64
 41  maximum_nights                                23359 non-null  int64
 42  minimum_minimum_nights                        23359 non-null  int64
 43  maximum_minimum_nights                        23359 non-null  int64
 44  minimum_maximum_nights                        23359 non-null  int64
 45  maximum_maximum_nights                        23359 non-null  int64
 46  minimum_nights_avg_ntm                        23359 non-null  float64
 47  maximum_nights_avg_ntm                        23359 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              23359 non-null  object
 50  availability_30                               23359 non-null  int64
 51  availability_60                               23359 non-null  int64
 52  availability_90                               23359 non-null  int64
 53  availability_365                              23359 non-null  int64
 54  calendar_last_scraped                         23359 non-null  object
 55  number_of_reviews                             23359 non-null  int64
 56  number_of_reviews_ltm                         23359 non-null  int64
 57  number_of_reviews_l30d                        23359 non-null  int64
 58  first_review                                  15107 non-null  object
 59  last_review                                   15107 non-null  object
 60  review_scores_rating                          15107 non-null  float64
 61  review_scores_accuracy                        14679 non-null  float64
 62  review_scores_cleanliness                     14679 non-null  float64
 63  review_scores_checkin                         14679 non-null  float64
 64  review_scores_communication                   14681 non-null  float64
 65  review_scores_location                        14679 non-null  float64
 66  review_scores_value                           14681 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              23359 non-null  object
 69  calculated_host_listings_count                23359 non-null  int64
 70  calculated_host_listings_count_entire_homes   23359 non-null  int64
 71  calculated_host_listings_count_private_rooms  23359 non-null  int64
 72  calculated_host_listings_count_shared_rooms   23359 non-null  int64
 73  reviews_per_month                             15107 non-null  float64
dtypes: float64(20), int64(21), object(33)
memory usage: 13.2+ MB

In [5]:
df = df[['id', 'name', 'host_id', 'neighbourhood_cleansed', 'latitude', 'longitude', 
         'property_type', 'room_type', 'accommodates', 'bathrooms_text', 'bedrooms', 
         'beds', 'price', 'minimum_nights', 'maximum_nights', 'number_of_reviews', 
         'reviews_per_month']]

In [6]:
df.head()

,id,name,host_id,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews,reviews_per_month
0,17878,"Very Nice 2Br in Copacabana w. balcony, fast WiFi",68997,Copacabana,-22.96599,-43.17940,Entire condominium (condo),Entire home/apt,5,1 bath,2.0,2.0,$350.00,5,180,266,2.07
1,24480,"Nice and cozy near Ipanema Beach, w/ home office",99249,Ipanema,-22.98405,-43.20189,Entire rental unit,Entire home/apt,2,1 bath,1.0,1.0,$296.00,3,90,85,0.85
2,25026,Beautiful Modern Decorated Studio in Copa,102840,Copacabana,-22.97735,-43.19105,Entire rental unit,Entire home/apt,2,1 bath,1.0,1.0,$168.00,4,90,238,1.84
3,35636,Cosy flat close to Ipanema beach,153232,Ipanema,-22.98839,-43.19232,Entire rental unit,Entire home/apt,2,1.5 baths,1.0,1.0,$278.00,2,89,181,1.90
4,35764,COPACABANA SEA BREEZE - RIO - 20 X Superhost,153691,Copacabana,-22.98107,-43.19136,Entire loft,Entire home/apt,2,1.5 baths,1.0,1.0,$150.00,3,15,373,3.05

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23359 entries, 0 to 23358
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      23359 non-null  int64
 1   name                    23338 non-null  object
 2   host_id                 23359 non-null  int64
 3   neighbourhood_cleansed  23359 non-null  object
 4   latitude                23359 non-null  float64
 5   longitude               23359 non-null  float64
 6   property_type           23359 non-null  object
 7   room_type               23359 non-null  object
 8   accommodates            23359 non-null  int64
 9   bathrooms_text          23291 non-null  object
 10  bedrooms                21871 non-null  float64
 11  beds                    23167 non-null  float64
 12  price                   23359 non-null  object
 13  minimum_nights          23359 non-null  int64
 14  maximum_nights          23359 non-null  int64
 15  number_of_reviews       23359 non-null  int64
 16  reviews_per_month       15107 non-null  float64
dtypes: float64(5), int64(6), object(6)
memory usage: 3.0+ MB

**Lidando com Dados Nulos**

Verificando quais colunas tem dados nulos.

In [8]:
df.isna().sum()

id                           0
name                        21
host_id                      0
neighbourhood_cleansed       0
latitude                     0
longitude                    0
property_type                0
room_type                    0
accommodates                 0
bathrooms_text              68
bedrooms                  1488
beds                       192
price                        0
minimum_nights               0
maximum_nights               0
number_of_reviews            0
reviews_per_month         8252
dtype: int64

*Coluna reviews_per_months*

A coluna *reviews_per_month* (avaliaÃ§Ãµes por mÃªs) tem 8252 linhas nulas. Isso representa aproximadamente 35% da quantidade total de dados. Ã‰ uma quantidade muito expressiva para descartar todas essas linhas.

Vamos assumir que como nÃ£o hÃ¡ uma quantidade de avaliaÃ§Ãµes por mÃªs, entÃ£o nÃ£o foi feita nenhuma avaliaÃ§Ã£o para aquele Airbnb. O que significa que podemos preencher essas linhas com o valor 0.

In [9]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

*Coluna bathrooms_text*

A coluna *bathrooms_text* (textos sobre banheiros) tem 68 linhas nulas. Como isso representa menos de 1% do total de dados, vamos sÃ³ excluir as linhas que nÃ£o possuem informaÃ§Ã£o sobre banheiro.

In [10]:
df = df.dropna(subset=['bathrooms_text'], axis=0)

*Coluna bedrooms*

A coluna *bedrooms* (quartos) possui 1488 linhas nulas. Isso representa aproximadamente 6% dos dados. Se verificarmos os valores que essa coluna tem, vemos que a menor quantidade de quartos existente Ã© 1. EntÃ£o vamos preencher esses dados com esse valor, jÃ¡ que aparentemente todo airbnb possui pelo menos 1 quarto.

In [11]:
len(df[df['bedrooms'].isnull() & df['beds'].isnull()])

27

In [12]:
df['beds'].unique()

array([ 2.,  1.,  7.,  5.,  3., 10.,  6.,  4.,  8.,  0.,  9., 16., 50.,
       nan, 14., 13., 17., 12., 15., 11., 18., 91., 24., 35., 30., 41.,
       38., 20., 22., 27., 33., 21., 26., 25., 23., 43., 52., 29., 31.])

In [15]:
len(df[df['beds']==0])

566

In [22]:
df['accommodates'].unique()

array([ 5,  2, 13,  1,  9,  3,  6, 14, 10,  4, 12, 16,  8,  7, 11, 15],
      dtype=int64)

In [24]:
df[df['accommodates']== df['beds']]

,id,name,host_id,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews,reviews_per_month
6,48726,Rio de Janeiro Copacabana Ipanema,221941,Copacabana,-22.985280,-43.192640,Private room in rental unit,Private room,1,1 private bath,NaN,1.0,$112.00,3,30,42,0.87
11,51703,"Ocean view, block of the beach, Copacabana,Ipa...",238091,Copacabana,-22.982340,-43.191640,Entire rental unit,Entire home/apt,2,1 bath,NaN,2.0,$171.00,3,1125,178,1.71
15,66574,Beach apart in Rio (jan. 2022),326301,Flamengo,-22.928370,-43.174730,Entire rental unit,Entire home/apt,4,2 baths,NaN,4.0,$220.00,4,1125,1,0.02
26,86978,Room For a Rent : Rio de Janeiro,476838,JacarepaguÃ¡,-22.972930,-43.383210,Private room in rental unit,Private room,2,2 baths,NaN,2.0,$835.00,1,90,0,NaN
29,88781,Â» 30% Off Â« Beach 50m & Metro > 5 min!!,474221,Copacabana,-22.974560,-43.188070,Entire rental unit,Entire home/apt,3,1 bath,NaN,3.0,$138.00,2,90,56,0.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23314,52928443,"RÃ©veillon! , Apto Iluminado,.70 metros da Praia.",15310618,Copacabana,-22.977380,-43.188600,Shared room in loft,Shared room,2,1 shared bath,NaN,2.0,$400.00,3,7,0,NaN
23317,52933706,Quarto espaÃ§oso e silencioso,180686272,Botafogo,-22.956580,-43.186830,Private room in condominium (condo),Private room,1,1 shared bath,NaN,1.0,$56.00,1,365,0,NaN
23324,52939266,Vaga de quarto,259049362,Copacabana,-22.965450,-43.179730,Private room in rental unit,Private room,1,1 shared bath,NaN,1.0,$65.00,3,1125,0,NaN
23351,52985617,FERIADO / COPACABANA,83316902,Copacabana,-22.973354,-43.189353,Private room in loft,Private room,5,1 shared bath,NaN,5.0,$125.00,1,365,0,NaN
23352,52986798,Apartamento super charmoso na Urca!,3835944,Urca,-22.945563,-43.161278,Entire rental unit,Entire home/apt,6,2 baths,NaN,6.0,$312.00,1,1125,0,NaN